%h1
  = link_to @feed.title, @feed.url, target: '_blank'
  %small= link_to 'Refresh', refresh_feed_path(@feed), method: :patch

- @feed.categories.where(user: current_user).each do |category|
  %span.label.label-primary= category.name

#unread-switch
  = link_to 'Show all entries', { controller: :feeds, action: :show, unread_only: 0 }, remote: true

.list-group#entries
  = render 'unread_entries'
