%h1= link_to @entry.title, @entry.url, target: '_blank'

%p
  %small= "by #{@entry.author} at #{@entry.published_at}"
  %small /
  %small= link_to 'keep unread', reading_status_path(@entry.reading_statuses.find_by(user_id: current_user.id), user_id: current_user.id, entry_id: @entry.id, reading_status: :unread), method: :patch

%p.well
  = @entry.summary
  = link_to 'read more', @entry.url, target: '_blank'

%p= link_to "back to #{@entry.feed.title}", @entry.feed
