%h1 Add new feed to your subscriptions

= form_for [current_user, @subscription] do |f|
  .form-group
    = label_tag :feed_url
    = text_field_tag :feed_url, nil, class: 'form-control'

  = f.submit 'Submit', class: 'btn btn-default'

%p= link_to "Cancel", user_subscriptions_path(current_user)
