%h1= "Categories"

%p= link_to 'Create new category', new_category_path

- @categories.each do |category|
  %h2
    = "#{category.name}"
    %small= link_to 'Add feed', new_user_feed_categorization_path(user_id: current_user, category_id: category.id)
    %small /
    %small= link_to 'edit', edit_category_path(category)
    %small /
    %small= link_to 'delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }
  %ul.list-group
    - category.feeds.each do |feed|
      %li.list-group-item
        = link_to feed.title, feed.url
        |
        = link_to 'delete', user_feed_categorization_path(user_id: current_user, id: category.feed_categorizations.find_by(feed_id: feed.id)), method: :delete, data: { confirm: 'Are you sure?' }
