%h1= "Add the feed to #{@category.name}"

= form_tag controller: 'feed_categorizations', action: 'create', method: :post do
  .form-group
    = label_tag :feed
    = select_tag :feed, options_from_collection_for_select(current_user.feeds, :id, :title), class: 'form-control'

  = hidden_field_tag :category_id, @category.id

  = submit_tag 'Submit', class: 'btn btn-default'

%p= link_to "Cancel", user_feed_categorizations_path(current_user)
