%h1= "Add #{@category.name}"

= form_tag controller: 'feed_categorizations', action: 'create', method: :post do
  = label_tag :feed, 'to feed'
  = select_tag :feed, options_from_collection_for_select(current_user.feeds, :id, :title)
  = hidden_field_tag :category, @category.id
  = submit_tag 'Submit'
