%header
  = link_to 'R3', root_path
  %ul
    - if logged_in?
      %li= current_user.name
      %li= link_to 'Subscriptions', user_subscriptions_path(current_user)
      %li= link_to 'Log out', logout_path, method: :delete
    - else
      %li= link_to 'Log in', login_path
